doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='css/main.css')
  body
    h1 Beacon Center
    table
      tr
        th User Name
        th Vip Flag
        th Identifier
        th Timestamp
      each item in data
        tr
          td= item.username
          td= item.vipflag
          td= item.extGuid
          td= item.timestamp
